.hamburger {
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 2px;
    animation: menu .5s linear;
}

.menu-wrapper {
    border-top: 1px solid #e7e7e7;
    width: 100%;
    height: auto;
    padding: 10px 0;
    background-color: #303030 !important;
    transition: all .4s;
}

.menu-wrapper ul {
    display: flex;
    flex-direction: column;
}

.menu-wrapper .nav-item {
    padding: 10px 0;
}

@keyframes menu {
    0% {
        top: -100px;
    }

    100% {
        top: 50px;
    }
}