* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  /* color: rgba(255, 255, 255, 0.5); */
  width: 100% !important;
  height: 100% !important;
  font-size: 14px;
  line-height: 1.42857143;
}